.container-finance {
    display: flex;
    justify-content: space-around;
    height: 33%;
    margin: 32px;
    font-size: large;
    /* border: 2px solid #000; */
}
.items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: 2px solid blue;
    width: 20%;
}
.container-table{
    display: flex;
    margin: 32px; 
    padding: 0 12px;
    /* border: 2px solid #000; */
}
.container-bills{
    margin: 0 32px 32px 32px;
    padding: 0 12px;
}
button{
    margin-left: 66%;
    top: 0;
}